.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 95%;
}

.swiper-pagination {
  height: 5%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #4c0788;
  width: 15px;
  height: 15px;
}
