html, body, #root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiInput-input::placeholder {  
  text-align: center; 
}
.MuiInput-input::-webkit-input-placeholder {  
  text-align: center; 
}
.MuiInput-input::-moz-placeholder {  
  text-align: center; 
}
.MuiInput-input::-ms-input-placeholder {  
  text-align: center; 
}
.MuiInput-input:-moz-placeholder {  
  text-align: center; 
}
.MuiInput-input:-ms-input-placeholder {  
  text-align: center; 
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12px !important;
  }

  .MuiBox-root {
    min-width: auto !important;
  }

  .MuiButtonBase-root {
    min-width: 16em !important;
  }

  .hide-on-small {
    display: none;
  }

  .logo-icon {
    height: 190px; 
  }

  .email-icon {
    height: 120px;
  }
}